.container{
    margin: 20px;
    padding: 0px 200px 0px 200px;
}
.num{
    width: 50px;
    height: 50px;
    background-color: white;
}
form{
    background-color: aqua;
    height: 420px;
    width: 350px;
    padding: 5px;
    text-align: center;
    align-items: center;
}
    

.button{
    background-color: red;
    width: 50px;
    height: 50px;
}




